<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectSoundDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DirectSoundDemo.Properties.Settings>
            <setting name="Latency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>441</value>
            </setting>
            <setting name="BufferCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BankFile" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="show_plist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_mctrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_keyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="midi_path" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="bank_path" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Interp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="poly" serializeAs="String">
                <value>100</value>
            </setting>
        </DirectSoundDemo.Properties.Settings>
    </userSettings>
</configuration>